<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <link rel="stylesheet" href="/style.css">
</head>
<nav>
  <ul>
      <li><a href="/students">All Students</a></li>
      <li><a href="/students/new">Add New Student</a></li>
      <li><a href="/students/sort">Find your house!</a></li>
  </ul>
</nav>
<body>
  <%= yield %>
</body>
</html>
