<form action="/students" method="post">
  <label for="name">Name:</label>
    <input id="name" type="text" name="name">
    <br>
  <label for="age">Age:</label>
    <input id="age" type="text" name="age">
    <br>
  <label for="house">Choose a house:</label>
    <select id="house" name="house">
      <option value="Gryffindor">Gryffindor</option>
      <option value="Hufflepuff">Hufflepuff</option>
      <option value="Slytherin">Slytherin</option>
      <option value="Ravenclaw">Ravenclaw</option>
    </select>
    <br>
  <input type="submit" value="Create Student">
</form>
