<form action="/students" method="post">
  <label for="name">Name:</label>
    <input id="name" type="text" name="name">
    <br>
  <label for="age">Age:</label>
    <input id="age" type="text" name="age">
    <br>
  <label for="house">Your house is:</label>
    <p></p>
    <br>
  <input type="submit" value="Create Student">
</form>
